<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="/css/application.css" type="text/css">
<!DOCTYPE html>
<html>
  <head>
    <title>Hashmapper</title>
    <%= include_gon %>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <img src="/images/compressed_logo.svg" style="height:auto;width:100%;">
      </div>
    </div>
    <div class="row">
      <div class="panel-group">
        <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <div id="flash_messages">
              <% flash.each do |type, message| %>
                  <div name="flash_messages" class="alert <%= bootstrap_class_for(type) %> fade in">
                    <%= message %>
                  </div>
              <% end %>
            </div>
            <div class="col-md-12">
              <div id="map-canvas" style="height: 500px;"></div>
            </div>
            <div id="gps_upload" class="col-md-6 col-md-offset-3">
              <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">
                        Browse&hellip; <input id="browse" name="files[]" type="file" accept="<%= GpsData::acceptable_types %>" multiple>
                      </span>
                    </span>
                  <input type="text" class="form-control" readonly>
                    <span class="input-group-btn">
                      <span id="submit" class="btn btn-primary btn-file">
                        &hellip;Upload <input type="submit">
                      </span>
                    </span>
                </div>
              </form>
              <span class="help-block">
                Select a file to upload.
              </span>
            </div>
          </div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
  var map;
  var eventLoc = { lat: 0, lng: 0 };
  function initMap() {
    map = new google.maps.Map(document.getElementById('map-canvas'), {
      center: eventLoc,
      zoom: 2
    });
    heatmap = new google.maps.visualization.HeatmapLayer({
      data: getHeatData(),
      map: map
    });
  }

  function getHeatData() {
    var mapped_data = gon.heat_data.map(function(gps){
      var rGps = {};
      rGps['location'] = new google.maps.LatLng(gps['latitude'], gps['longitude']);
      rGps['weight'] = gps['count'];
      return rGps;
    });
    return mapped_data;
  }
</script>
<script>
  $(document).on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  $(document).ready( function() {
    $('input[type="submit"]').prop('disabled', true);
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

      var input = $(this).parents('.input-group').find(':text'),
          log = numFiles > 1 ? numFiles + ' files selected' : label;

      if( numFiles > 128 ) {
        $('input[type="submit"]').prop('disabled', true);
        log = 'Cannot process more than 128 files.'
      } else if( numFiles < 1 ) {
        $('input[type="submit"]').prop('disabled', true);
      } else {
        $('input[type="submit"]').prop('disabled', false);
      }

      if( input.length ) {
        input.val(log);
      } else {
        if( log ) alert(log);
      }

    });
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap&v=3.exp&libraries=visualization"
        async defer></script>
